services:
  nginx:
    container_name: freemobile_nginx
    image: nginx:latest
    ports:
      - ${NGINX_PORT_HOST}:80
    volumes:
      - ./:/app
      - ./docker/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - net_freemobile

  php:
    container_name: freemobile_back
    hostname: freemobile_back
    build:
      context: ./docker/
      dockerfile: Dockerfile
    volumes:
      - ./:/app
      - ./docker/php.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./docker/logs/php-error.log:/var/log/error.log
      - ./docker/logs/php-access.log:/var/log/access.log
    expose:
        - 9000
    networks:
      - net_freemobile

networks:
  net_freemobile:
    driver: bridge
    name: net_freemobile
